body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  
    background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
    background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
}

@-webkit-keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
